
.header1{
    width: 80%;
    height: 70px;
    margin-left: 10%;
    margin-top: 20px;
    display: flex;
    background-color: rgb(44, 43, 43);
  }
  
  .titlebook{
    color: #fff;
    margin-left: 10px;
  }
  
  .links{
    display: flex;
    position: absolute;
    margin-top: 30px;
    right: 12%;
  }
  
  .links a{
    color: #fff;
    text-decoration: none;
    font-size: large;
    margin-right: 3px;
  }
  
  .listbook{
    border-right: 1px solid #fff;
  }
  
  .addbook{
    border-right: 1px solid #fff;
  }
  
  .booklist{
    border: 1px solid #000;
    width: 50%;
    margin-left: 25%;
    margin-top: 40px;
  }
  
  .listtitle, .test{
    display: flex;
  }
  
  .listtitle{
    text-align: center;
  }
  
  .test{
      
    list-style: none;
    text-align: center;
    width: 90%;
  }
  p{
    width: 100%;
  }
  
  h4{
    width: 100%;
  }
  
  .removebtn{
    background-color: red;
    border: none;
    height: 35px;
    margin-left: 10%;
    color: #fff;
    font-size: large;
  }
  
  .addnewbook{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
    border: 1px solid #000;
    margin-top: 40px;
  }
  
  h3, input{
    margin-left: 20%;
    width: 60%;
  }
  
  .addtitle{
    text-align: center;
  }
  
  #add{
    background-color: green;
    border: none;
    height: 35px;
    width: 30%;
    margin-left: 35%;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #fff;
    font-size: large;
  }
  
  .contactinfo{
    width: 50%;
    margin-left: 25%;
    border: 1px solid #000;
    margin-top: 40px;
    padding-left: 20px;
  }
  
  .footerbook{
    width: 80%;
    height: 40px;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    background-color: rgb(44, 43, 43);
    color: #fff;
    font-size: large;
    padding-left: 20px;
    padding-top: 20px;
  }
  